.list-item {
  display: flex;
  justify-content: space-around;
}
.img-name-cont {
  display: flex;
  justify-content: center;
  align-items: center;
}
.name {
  font-family: roboto;
  font-size: 17px;
  color: #ffffff;
}
.currency-logo {
  height: 30px;
}
.value-container {
  display: flex;
  justify-content: space-around;
}
.usd {
  font-family: roboto;
  font-size: 17px;
  color: #ffffff;
}
.euro {
  font-family: roboto;
  font-size: 17px;
  color: #ffffff;
}
